{% extends 'devfileboxBundle:Default:index.html.twig' %}
{% block body %}
<div>
    URL DROPBOX : <br>
    <a href="{{ url }}" target="_blank">Se connecter</a>
</div>
    {{ form(form) }}
{% endblock %}